.myInput {
  position: relative;
  width: max-content;
  display: flex;
  align-items: center;

  & input {
    outline: none;
    width: 400px;
    font-size: 20px;
    border-radius: 6px;
    border: 2px solid rgba(128, 128, 128, 0.419);
    transition: 0.3s;
    padding: 5px 10px;

    &:focus {
      border: 2px solid rgba(0, 0, 255, 0.537);
      box-shadow: 0 0 2px white, 0 0 20px rgba(0, 0, 255, 0.574);
    }
  }

  & img {
    width: 20px;
    position: absolute;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
    right: 10px;

    &:hover {
      background-color: gray;
    }
  }
}
