@import "../../assets/styles/variables";

.header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  z-index: 100;
  position: absolute;
  top: 0;
  width: 100%;
}

.list {
  display: flex;
  font-size: var(--font-size-header);
  flex-wrap: wrap;
  align-items: center;

  &__logo {
    margin: 0 20px;

    & img {
      display: flex;
    }
  }

  & li a {
    margin: 0 10px;
    padding: 7px 10px;
    min-width: 70px;
    color: var(--color-white);
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-weight: 300;
    text-shadow: var(--text-shadow-yellow);
    transition: var(--transition);
    border: 2px solid transparent;

    &:global(.active) {
      border: 2px solid var(--color-violet);
      border-radius: 12px;
      color: var(--color-violet);
    }
  }
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
